* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.back {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.432), rgba(255, 166, 0, 0.438)),
        url(1.jpg);
    clip-path: polygon(0% 0%, 30% 0%,50% 30%, 100% 30%, 100% 70%, 50% 70%, 30% 100%, 30% 100%, 0% 100%);
    background-position: center center;
    background-size: cover;
    height: 100vh;

    width: 100vw;
}
.dumbell {
    height: 100px;
    width: 300px;
background-color: black;
clip-path: polygon(5% 0%, 15% 0%, 18% 10%, 18% 30%, 82% 30%, 82% 10%, 85% 0%, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 85% 100%, 82% 90%, 82% 70%, 18% 70%, 18% 90%, 15% 100%, 5% 100%, 0% 90%, 0% 10%);
}
